* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --blue: rgb(10, 106, 158);
  --dark-blue: rgb(14, 93, 135);
  --white: #fdfdfd;
  --grey: rgb(180, 180, 180);
  --dark-grey:rgb(149, 149, 149);
  --light-grey: rgb(215, 215, 215);
  --light-grey-2: rgba(229, 229, 229, 0.553);
  --red: rgb(181, 0, 0);
  --dark-red: rgb(147, 0, 0);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.layout {
  padding: 30px 50px;
}

.flex {
  display: flex;
  flex-direction: column;
}

input {
  outline: none
}

.material-symbols-outlined {
  font-weight: 500;
  color: var(--grey);
  cursor: pointer;
}

.material-symbols-outlined:hover {
    color: var(--dark-grey);
}