.home {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
}

.listItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loadBtnDiv {
  padding-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoDiv {
  button {
    margin-bottom: 30px;
  }
}


